body {
  margin: 50;
  padding: 0;
  font-family: sans-serif;
  background-color: bisque;
}

.text-wrap {
  word-wrap: break-word;
}

.bot-army {
  overflow-x: scroll;
  min-height: 300px;
  max-width: 100%;
}

.ui.grid > .row.bot-army-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

.ui.grid {
  padding: 0px 20px;
}

.card-hover:hover .card {
  width: 100%;
  height: 100%;
  padding: 3rem;
}

.card:hover {
  transform: scale(1.1);
}

.card {
  width: 80%;
  height: 80%;
  padding: 0.5rem;
}

.card {
  transform: scale(0.8);
}

.bot-army{
  background-color: white !important;
}


.custom-blue-bg {
  background-color: #87CEFA;
}

.custom-blue-bg2 {
  background-color:  #808080;
}

.custom-blue-bg3 {
  background-color:  #F5F5DC;
}

.custom-blue-bg4 {
  background-color:  #F5F5DC;
}

.custom-blue-bg5 {
  background-color: #D3D3D3;
}

.custom-blue-bg6 {
  background-color: #FFFFE0;
}


.navbar-logo img {
  width: 50px; 
  height: 50px; 
  object-fit: contain; 
}

.navbar-logo img {
  max-width: 50px; /* adjust to desired width */
  max-height: 50px; /* adjust to desired height */
}

.navbar-logo img {
  width: 50px; /* adjust to desired width */
  height: 50px; /* adjust to desired height */
  object-fit: contain; /* scales the image to fit within the specified width and height */
}
/* 
input::placeholder {
   /* increase font size */
  /* padding: 3px; /* increase padding */
  /* line-height: 7em; /* increase line height */
  /* width: 300px; /* increase width */
/* } */ 


/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #8FBC8F;
}

.text-wrap {
	word-wrap: break-word;
} */

